.logo,
.border-gray-custom {
    border-color: rgb(227, 227, 227);
}

.logo-image {
    height: 6vh;
}

.btn-menu:focus {
    box-shadow: none!important;
}

.dropdown-menu-custom {
    border: none!important;
    display: block!important;
    position: relative!important;
    top: 0!important;
    height: 93vh;
}

.menu,
.body-content {
    margin: 0!important;
    padding-right: 0!important;
    padding-left: 0!important;
}

ul {
    width: 100%!important;
    padding: 0!important;
}

ul>li>a {
    height: 5vh!important;
}

.dropdown-item:active {
    background-color: transparent!important;
    color: #212529!important;
}

.dashboard-wrapper,
.pitch-wrapper {
    border: 1px solid #e3e3e3;
    border-radius: 20px;
    box-shadow: -1px 0px 13px -1px rgba(0, 0, 0, 0.47);
    flex-wrap: wrap;
}

.content {
    padding-top: 2rem;
}

.body-content {
    height: 93vh!important;
    overflow-y: scroll;
}

#accountReport_wrapper {
    display: flex;
    width: 100%!important;
    flex-wrap: wrap;
}

.paginate_button {
    float: right;
    padding: 0.5rem;
}

#accountReport_paginate {
    display: flex;
    width: 50%;
    justify-content: right;
}

#accountReport_info {
    width: 50%;
    display: flex;
    padding-top: 0.5rem;
}

#accountReport_length {
    width: 100%;
}

.reason-col {
    width: 55rem;
}

.reporter-col {
    width: 12rem;
}

.account-reporter-col {
    width: 12rem;
}

.action-col {
    width: 5rem;
}

table td,
table th {
    vertical-align: middle!important;
}

table tbody tr td:nth-child(3),
table tbody tr td:nth-child(3) {
    white-space: pre-line;
}